torch
torchvision
torchaudio

numpy
pandas
scipy
scikit-learn
scikit-image

matplotlib
seaborn
tqdm

nibabel
SimpleITK
pydicom

torchio
monai

opencv-python

torchinfo
torchview
grad-cam

ipywidgets
graphviz
